@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next { height: 100%; }
body { @apply bg-gray-900 text-gray-100 font-sans; }
a { @apply text-indigo-300; }
.container { max-width: 960px; margin: 0 auto; padding: 2rem; }
.header { @apply py-6; }
.footer { @apply py-6 text-sm text-gray-400; }
.card { @apply bg-gray-800 p-4 rounded-lg shadow; }
